@charset "UTF-8";
/*===========================
	 	멤버십 목록
  ===========================*/
 
.membership_list b{
	font-size:34pt;
}

.horizontal-membership-container {
	display: flex; /* 가로 정렬을 위해 flexbox 사용 */
	flex-direction: row; /* 가로 정렬 */
	flex-wrap: nowrap; /* 필요한 경우 아이템을 줄바꿈하여 표시 */

}

.horizontal-membership-item {
	width: calc(33.33% - 10px); /* 한 줄에 세 개의 아이템이 들어가도록 폭 조정 */
	margin: 10px; /* 아이템 간 간격 추가 */
}

/* 추가한 이미지 크기 조절 스타일 */
.horizontal-membership-item img {
	max-width: 70%; /* 이미지의 최대 너비 설정 */
	height: auto; /* 이미지의 높이를 자동으로 조절하여 비율 유지 */
	margin: 0px 0px 0px 40px;
	display: block;
}

.horizontal-membership-item .list-detail{
	font-size:16pt;
	color: gray;		
}

.horizontal-membership-item .list-benefits{
	font-size:18pt;
	text-align: right;	
	display: block;
}

.horizontal-membership-item .list-price{
	font-size:30pt;
	text-align: right;	
	padding: 20px;
}

.subscribe-button {
    text-decoration: none; /* 링크의 밑줄 제거 */
    text-align: center;
    display: block;
    margin: 0px 0px 0px 0px;
    
}

.subscribe-btn {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.subscribe-btn:hover {
    background-color: #0056b3;
}
/*===========================
	  	   주문 폼
  ===========================*/
form#order_register{
	width:90%;
	border:none;
}

.membership-table{
	width:100%;
	margin:7px 0;
    border-collapse: collapse;
}

.membership-table thead{
	overflow: hidden;
    margin: 12px 20px 13px;
    background-color: #f0f0fa;
    border-top: 3px solid #000;
    border-bottom:1px solid #dbdbdb;
    width:100%;
	font-size:11pt;
}
.membership-table thead th{
	padding: 12px 20px 13px;
}
.membership-table tbody{
	font-size:12pt;
	width:100%;
	border-bottom:2px solid #000;
}
.membership-table tbody tr td{
	border-bottom:1px solid #dbdbdb;
	font-weight:bold;
	height: 100px;
}

.btn_wrap{
	margin-top:100px;
	display: flex;
	justify-content: center;
}



.com_box_design_title { 
    margin: 0 0 10px 55px;
    font-weight: bold;
    font-size: 20px;
}
.com_box_design_wrap {
    width: 980px;
    margin: 90px auto 0;
}
ul.com_box_design {
    padding: 29px 0 30px;
    border-top: 3px solid #000;
    border-bottom: 1px solid #000;
    font-size:14pt;
}
ul.com_box_design > li {
    padding: 10px 20px;
}
ul.com_box_design > li label {
    height: 40px;
    margin-right: 14px;
    padding-left: 53px;
    font-weight: bold;
    font-size: 16px;
    color: #6a6f77;
    line-height: 40px;
    vertical-align: middle;
    float:none;
}
ul.com_box_design > li label:first-child {
    padding-left: 0;
}
ul.com_box_design > li input[type="text"], 
ul.com_box_design > li input[type="tel"],
ul.com_box_design > li input[type="number"] {
    height: 38px;
    padding: 0 0 0 10px;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    line-height: 38px;
    border: 1px solid #bebebe;
    margin:0 auto;
}
.com_box_design_olist{
	font-weight: 300;
    font-size: 15px;
    color: #6a6f77;
}

















