@charset "UTF-8";

/*===========================
	 [관리자]상품 등록, 수정 폼
  ===========================*/
  
#snack_photo{
	width:40%;
	float:left;
	text-align:center;
}
#file_detail{
	margin:20px;
}
#snack_input{
	width:60%;
	float:right;
}
#insert_form, #update_form{
	width:880px;
	margin:0 auto;
	padding-top:40px;
	border:1px solid #000;
}
#insert_form label, #update_form label{
	font-weight:bold;
	width:80px;
	margin:0 auto;
	vertical-align:middle;
}
#insert_form ul li, #update_form ul li{
	margin:10px 0;
	vertical-align:middle;
}
input.form-input{
	width:300px;
}
#snack_text{
	clear:both;
	margin:0 auto;
	height:90px;
}
#snack_text label{
	margin-left:60px;
}

#snack_text textarea{
	float:right;
	margin-right:66px;
	resize:none;
	width:80%;
	height:60px;
}
#snack_ck{
	margin:0 60px;
}
#snack_button{
	text-align:center;
	margin:20px auto;
	clear:both;
}



/*===========================
	   [사용자] 스토어 목록
  ===========================*/
  
/*---------카테고리---------*/

.category_contents_wrap {
    display: flex;
}
.category_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 26px;
    margin:0 20px 0 45px;
}
.cart_content {
    display: flex;
    align-items: center;
    line-height: 26px;
}
.category_content li, .cart_content li{
	font-size:14pt;
	display: inline-flex;
    align-items: center;
    font-weight:bold;
}
.cart_content li:first-child {
    padding-left: 42px;
}
.cart_content li{
	width:110px;
	margin:0 10px;
    display: inline-flex;
    align-items: center;
    padding-left: 14px;
}
.cart_content li a + span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left:8px;
    width: 20px;
    height: 20px;
    min-width: 12px;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background-color: #fb4357;
    border-radius: 10px;
    outline: none;
}
.cart_content:before {
    content: '';
    display: inline-flex;
    width: 1px;
    height: 23px;
    background-color: #cfcfcf;
}

/*---------선택 카테고리 문구---------*/

.category-title{
	display: block;
    padding-bottom: 13px;
    font-weight: 500;
    font-size: 28px;
    color: #000;
    border-bottom: 1px solid #999;
    margin-top:70px;
}
.category-title span {
    font-weight: 300;
    font-size: 20px;
    padding-left: 11px;
}
.select{
	color:red !important;
}

/*---------상품 목록---------*/

.image-space{
	margin: 57px 0 20px 20px;
}

.image-space .horizontal-area{
	margin:15px 0 45px 0;
	padding:3px;
	width:340px;
	height:480px;
	float:left;
	text-align:center;
	overflow:hidden;
}
.image-space .horizontal-area img{
	width:340px;
	height:340px;	
	margin-bottom:20px;
}
.image-space .horizontal-area a:hover img{
	border:1px solid #703691;
}
.image-space span{
	padding:10px 0;
}
.image-space .float-clear{
	clear:both;
}
.list-name, .list-price{
	font-size:14pt;
}
.list-price-red{
	color:red;
	font-size:14pt;
}
.list-dc-price{
	text-decoration:line-through;
	color:grey;
	font-size:10pt;
}
.list-detail{
	color:gray;
}



/*===========================
	   [사용자] 스토어 상세
  ===========================*/

/*---------레이아웃---------*/
.item-wrap{
	margin:45px auto;
}
.item-image{
	width:450px;
	margin:5px 0 10px 100px;
	float:left;
}
.item-detail form{
	border:none;
	width:500px;
	float:left;
	margin:0;
	padding-bottom:45px;
}
#item_total_txt{
	color:#000;
	font-weight:bold;
}
.sold-out{
	color:red;
}
.cart-info{
	margin-bottom:20px;
	width:480px;
}
.cart-info ul{
	padding:0 0 0 10px;
}
.cart-info ul li{
	margin:15px auto;
}
.cart-info-span{
	display:inline-block;
	width:100px;
	font-weight: bold;
}
.sn-name{
	font-size:28px;
	font-weight: 900;
	padding-bottom:15px;
	border-bottom: 1px solid #999;
}

/*----------주문수량버튼----------*/
.bx_num{
	width: 473px;
	margin:0 0 23px 10px;
    position: relative;
    border: 1px solid #DDD;
}
#txt_num{
    padding: 5px 0;
    font-size: 15px;
    text-align: center;
}
#orders_quantity{
	text-align:center;
	border:none;
    margin:0 auto;
}
#orders_quantity:focus{
	outline:none;
}
.bx_num .btn_plus, .bx_num .btn_mins {
    position: absolute;
    top: 0;
    bottom: 0;
    background: no-repeat 50% 50%;
    border: 0 none;
    padding: 0 26px;
    text-indent: -9999em;
    font: 0 auto;
    cursor:pointer;
}
.bx_num .btn_mins {
    left: 0;
    background-image: url(../images/bg_minusBtn.png);
}
.bx_num .btn_plus {
    right: 0;
    background-image: url(../images/bg_plusBtn.png);
}

/*----------총 구매 금액----------*/
.txt_price_wrap {
    font-size: 13pt;
    text-align: right;
    margin: 0 13px 15px 0;
    font-weight: bold;
}
.txt_price_str {
    display: inline-block;
    font-weight: bold;
    color: #FF243E;
    margin-left: 20px;
    font-size: 30px;
}

/*----------장바구니,선물하기,구매하기 버튼----------*/
.btn_cart, .btn_wrap a {
    display: block;
    float: left;
    height: 50px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.btn_cart {
    width: 55px;
    background: #fb4357 url(../images/bg_cartBtn.png) center center scroll no-repeat;
    border:none;
    cursor:pointer;
    margin-top:0;
}
.btn_wrap a {
    width: 200px;
    background-color: #373e46;
    line-height: 50px;
    font-weight: bold;
}

/*----------한줄설명,유의사항----------*/
.category_product_detail_txtbox {
    margin: 56px 0;
    padding: 30px;
    font-size: 17px;
    color: #000;
    line-height: 24px;
    background-color: #fafafa;
    border: 1px solid #e2e2e2;
}
.category_product_notice_txtbox{
    margin-top: 56px;
    padding: 32px 0;
    color: #000;
    border-top: 1px solid #ccc;
}
