<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.order.dao.OrderMapper">
	<!-- 구매하기 -->
	<insert id="insertOrder" parameterType="orderVO">
		INSERT INTO orders(
			orders_num,
			sn_name,
			origin_total,
			orders_total,
			pay_total,
			payment,
			orders_type,
			mem_num
			)
		VALUES(
			#{orders_num},
			#{sn_name},
			#{origin_total},
			#{orders_total},
			#{pay_total},
			#{payment},
			#{orders_type},
			#{mem_num}
			)
	</insert>
	
	<!-- 선물하기 -->
	<insert id="insertGiftOrder" parameterType="orderVO">
		INSERT INTO orders(
			orders_num,
			sn_name,
			origin_total,
			orders_total,
			pay_total,
			payment,
			orders_type,
			from_id,
			to_id,
			to_phone,
			message,
			mem_num
			)
		VALUES(
			#{orders_num},
			#{sn_name},
			#{origin_total},
			#{orders_total},
			#{pay_total},
			#{payment},
			#{orders_type},
			#{from_id},
			#{to_id},
			#{to_phone},
			#{message},
			#{mem_num}
			)
	</insert>
	
	<!-- 주문 상품 상세 정보 -->
	<insert id="insertOrderDetail" parameterType="orderDetailVO">
		INSERT INTO orders_detail(
			detail_num,
			sn_num,
			sn_name,
			sn_detail,
			sn_price,
			sn_dc_price,
			sn_total,
			orders_quantity,
			orders_num
			)
		VALUES(
			#{detail_num},
			#{sn_num},
			#{sn_name},
			#{sn_detail},
			#{sn_price},
			#{sn_dc_price},
			#{sn_total},
			#{orders_quantity},
			#{orders_num}
			)
	</insert>
	
	
	<!-- [관리자] 주문 목록 -->
	
	<!-- 검색창 용 sql 조각 -->
	<sql id="orderSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					orders_num = #{keyword}
				</if>
				<if test="keyfield == 2">
					id LIKE '%'|| #{keyword} || '%'
				</if>
				<if test="keyfield == 3">
					sn_name LIKE '%'|| #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 전체or검색 레코드 수 -->
	<select id="selectOrderCount" parameterType="map" resultType="integer">
		SELECT COUNT(*) 
		FROM orders o JOIN member m ON o.mem_num = m.mem_num 
		<include refid="orderSearch"></include>
	</select>

	<!-- 전체or검색 목록 -->
	<select id="selectListOrder" parameterType="map" resultType="orderVO">
		SELECT * 
		FROM (SELECT a.*, rownum rnum 
			  FROM (SELECT * 
			  		FROM orders o JOIN member m ON o.mem_num = m.mem_num 
			  		<include refid="orderSearch"></include> 
			  		ORDER BY orders_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	


	<!-- [사용자] 주문 목록 -->
	<!-- 검색창 용 sql 조각 -->
	<sql id="orderSearchByUser">
		WHERE mem_num = #{mem_num} 
		<if test="keyword != null and keyword != ''">
			<if test="keyfield == 1">
				AND orders_num = #{keyword} 
			</if>
			<if test="keyfield == 2">
				AND sn_name LIKE '%' || #{keyword} || '%' 
			</if>
		</if>
	</sql>
	
	<!-- 전체or검색 레코드 수 -->
	<select id="selectOrderCountByMem_num" parameterType="map">
		SELECT COUNT(*) 
		FROM orders 
		<include refid="orderSearchByUser"></include>
	</select>
	
	<!-- 전체or검색 목록 -->
	<select id="selectListOrderByMem_num" parameterType="map" resultType="orderVO">
		SELECT * 
		FROM (SELECT a.*, rownum rnum 
			  FROM (SELECT * 
			  		FROM orders 
			  		<include refid="orderSearchByUser"></include>
			  		ORDER BY orders_num DESC)a) 
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>		  		
	</select>	
	
	
	
	<!-- 내 선물함 -->
	<!-- 검색창 용 sql 조각 -->
	<sql id="giftSearchByUser">
		WHERE o.to_id = #{to_id} 
		<if test="keyword != null and keyword != ''">
			<if test="keyfield == 1">
				AND o.sn_name LIKE '%' || #{keyword} || '%' 
			</if>
		</if>
		AND d.orders_status != 4
	</sql>
	
	<!-- 전체or검색 레코드 수 -->
	<select id="selectGiftCountByTo_id" parameterType="map">
		SELECT COUNT(*)
		FROM (SELECT *
		      FROM orders 
		      WHERE orders_num IN (SELECT DISTINCT o.orders_num
                          		   FROM orders o JOIN orders_detail d ON o.orders_num = d.orders_num 
                             	   <include refid="giftSearchByUser"></include>))
	</select>
	
	<select id="selectListGiftByTo_id" parameterType="map" resultType="orderVO">
		SELECT * 
		FROM (SELECT a.*, rownum rnum 
		      FROM (SELECT *
		            FROM orders 
		            WHERE orders_num IN (SELECT DISTINCT o.orders_num
						                 FROM orders o JOIN orders_detail d ON o.orders_num = d.orders_num 
						                <include refid="giftSearchByUser"></include>))a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>		
	</select>
	
	
</mapper>


