<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.member.dao.BoardMapper">
	
	<!-- 예매내역 목록 -->
	<!-- 예매 내역 전체 레코드수 -->
	<select id="selectReservationRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM reservation r JOIN member m
		ON r.mem_num = m.mem_num
		WHERE r.mem_num=#{mem_num} AND r.res_status=1
	</select>
	
	<!-- 예매 취소 내역 전체 레코드수 -->
	<select id="selectDelReservationRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM reservation r JOIN member m
		ON r.mem_num = m.mem_num
		WHERE r.mem_num=#{mem_num} AND r.res_status=2
	</select>
	
	<!-- 예매 내역 전체 목록 -->
	<select id="selectReservation" parameterType="map" resultType="reservationVO">
		<!-- SELECT
		  r.*,
		  s.*,
		  m.*,
		  mo.*,
		  th.*,
		  h.*
		FROM reservation r
		JOIN schedule s ON r.sch_num = s.sch_num
		JOIN member ON r.mem_num = m.mem_num
		JOIN movie mo ON s.movie_num = mo.movie_num
		JOIN hall h ON s.hall_num = h.hall_num
		JOIN theater th ON h.th_num = th.th_num
		WHERE r.mem_num=#{user} AND
		<include refid="reservationBoardSearch"></include>
			  	   <include refid="reservationBoardOrder"></include> -->
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM(SELECT
			  		 *
			  	   FROM reservation r
			  	   JOIN member m ON r.mem_num = m.mem_num
				   JOIN schedule s ON r.sch_num = s.sch_num
			       JOIN movie mo ON s.movie_num = mo.movie_num
				   JOIN hall h ON s.hall_num = h.hall_num
				   JOIN theater th ON h.th_num = th.th_num
			  	   WHERE r.mem_num=#{user}
			  	   )a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>

	<!-- 구매내역 목록 -->
	<sql id="orderBoardSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					o.orders_num = #{keyword}
				</if>
				<if test="keyfield == 2">
					o.orders_date LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<sql id="orderBoardOrder">
		<if test="order == 1">
			ORDER BY o.orders_num DESC
		</if>
		<if test="order == 2">
			ORDER BY o.orders_date DESC
		</if>
	</sql>
	
	<!-- 구매내역 전체/검색 레코드수 -->
	<select id="selectOrderRowCount" parameterType="map" resultType="integer">
		SELECT
			COUNT(*)
		FROM orders o JOIN member m
		ON o.mem_num = m.mem_num
		WHERE o.mem_num=#{mem_num}
		<include refid="orderBoardSearch"></include>
	</select>
	
	<!-- 구매 내역 전체/검색 목록 -->
	<select id="selectOrder" parameterType="map" resultType="orderVO">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
		  	  FROM(SELECT 
						o.orders_num,
						o.orders_date,
						o.sn_name,
						o.orders_total
			  		FROM member m
			  		JOIN orders o ON m.mem_num = o.mem_num
			  		WHERE o.mem_num=#{user}
			  		<include refid="orderBoardSearch"></include>
			  	    <include refid="orderBoardOrder"></include>
			  		)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	
	
	<!-- 리뷰내역 목록 -->
	<sql id="reviewBoardSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					r.review_num = #{keyword}
				</if>
				<if test="keyfield == 2">
					
				</if>
			</if>
		</where>
	</sql>
	
	<sql id="reviewBoardOrder">
		<if test="order == 1">
			ORDER BY r.review_num DESC
		</if>
		<if test="order == 2">
			ORDER BY r.review_date DESC
		</if>
	</sql>
	
	<!-- 리뷰내역 전체/검색 레코드수 -->
	<select id="selectReviewRowCount" resultType="integer">
		SELECT
			COUNT(*)
		FROM review r JOIN member m
		ON r.mem_num = m.mem_num
		<include refid="reviewBoardSearch"></include>
	</select>
	
	<!-- 리뷰 내역 전체/검색 목록 -->
	<select id="selectReview" resultType="reviewVO">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
		  	  FROM(SELECT 
						r.review_num,
						r.review_date,
						r.review_content,
						r.rating_score
			  		FROM member m
			  		JOIN review r ON m.mem_num = r.mem_num
			  		WHERE r.mem_num=#{user}
			  		<include refid="reviewBoardSearch"></include>
			  	    <include refid="reviewBoardOrder"></include>
			  		)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	
	
	<!-- 포스트내역 목록 -->
	<sql id="postBoardSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					p.post_num = #{keyword}
				</if>
				<if test="keyfield == 2">
					p.post_date LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<sql id="postBoardOrder">
		<if test="order == 1">
			ORDER BY p.post_num DESC
		</if>
		<if test="order == 2">
			ORDER BY p.post_date DESC
		</if>
	</sql>
	
	<!-- 포스트내역 전체/검색 레코드수 -->
	<select id="selectPostRowCount" resultType="integer">
		SELECT
			COUNT(*)
		FROM moviepost p JOIN member m
		ON p.mem_num = m.mem_num
		<include refid="postBoardSearch"></include>
	</select>
	
	<!-- 포스트 내역 전체/검색 목록 -->
	<select id="selectPost" resultType="postVO">
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
		  	  FROM(SELECT 
						p.post_num,
						p.post_date,
						p.post_content,
						p.post_photo
			  		FROM member m
			  		JOIN moviepost p ON m.mem_num = p.mem_num
			  		WHERE p.mem_num=#{user}
			  		<include refid="postBoardSearch"></include>
			  	    <include refid="postBoardOrder"></include>
			  		)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	  
	
</mapper>  










	