<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.movie.dao.MovieMapper">
	<!-- 영화 등록 -->
	<insert id="registerMovie" parameterType="MovieVO">
		INSERT INTO movie(
			movie_num,
			m_title,
			m_titleEng,
			m_director,
			m_actor,
			m_nation,
			m_company,
			m_plot,
			m_runtime,
			m_rating,
			m_genre,
			m_opendate,
			m_poster,
			poster_name,
			m_stllimg,
			stllimg_name,
			m_vod,
			m_status
			)
		VALUES
			(
			movie_seq.nextval,
			#{m_title},
			#{m_titleEng},
			#{m_director},
			#{m_actor},
			#{m_nation},
			#{m_company},
			#{m_plot},
			#{m_runtime},
			#{m_rating},
			#{m_genre},
			#{m_opendate},
			#{m_poster},
			#{poster_name},
			#{m_stllimg},
			#{stllimg_name},
			#{m_vod},
			#{m_status}
			)
	</insert>
	
	<!-- api로 불러오기 
	<insert id="insertApi" parameterType="MovieVO">
		<foreach collection="list" item="movies" separator=",">
			INSERT INTO movie(
			movie_num
			m_title,
			m_titleEng,
			m_director,
			m_actor,
			m_nation,
			m_company,
			m_plot,
			m_runtime,
			m_m_rating,
			m_genre,
			m_openDate,
			m_poster,
			m_stillimage,
			m_vod)
		VALUES
			(
			movie_seq.nextval,
			#{movie.m_title},
			#{movie.m_titleEng},
			#{m_director},
			#{m_actor},
			#{m_nation},
			#{m_company},
			#{m_plot},
			#{m_runtime},
			#{m_rating},
			#{m_genre},
			#{m_openDate},
			#{m_poster},
			#{m_stillimage},
			#{m_vod})
		</foreach>
	</insert> -->
	
	<!-- 영화 목록 -->
	<sql id="movieSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1"> <!-- 영화 제목 -->
					m_title LIKE '%' || #{keyword} || '%' or
					m_titleEng LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 2"> <!-- 영화 감독 -->
					m_director LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 3"> <!-- 영화 배우 -->
					m_actor LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<sql id="movieOrder">
		<if test="order == 1">
			ORDER BY m_opendate DESC
		</if>
	</sql>
	
	<!-- 전체/검색 레코드 수  -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT 
			COUNT(*)
		FROM movie 
		<include refid="movieSearch"></include>
	</select>
	
	<!-- 전체/검색 목록 --> 
	<select id="selectList" parameterType="map" resultType="movieVO">
		SELECT
			*
		FROM (SELECT 
				a.*,
				rownum rnum
			  FROM(SELECT
			  		movie_num,
			  		m_title,
			  		m_opendate,
			  		m_rating,
			  		m_poster,
			  		m_director,
			  		m_actor
			  		FROM movie
			  		<include refid="movieSearch"></include>
			  		<include refid="movieOrder"></include>
			  		)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>	  		
	</select> 
	
	<!-- (체크박스) 영화 삭제 -->	
	<delete id="deleteMovieCheck">
		DELETE FROM movie 
		WHERE movie_num IN 
		<foreach item="movie" collection="selectmovies" open="(" separator="," close=")">
			#{movie}
		</foreach>
	</delete>	
</mapper>