<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.membership.dao.MembershipMapper">
<!-- 관리자 시작 -->
	<!-- 멤버십 등록 -->
	<insert id="insertMembership" parameterType="membershipVO">
		INSERT INTO membership(
		  membership_id,
		  membership_grade,
		  membership_benefits,
		  price,
		  photo,
		  photo_name,
		  membership_detail)
		VALUES(
		  membership_seq.nextval,
		  #{membership_grade},
		  #{membership_benefits},
		  #{price},
		  #{photo},
		  #{photo_name},
		  #{membership_detail})
	</insert>
	
	<!-- 멤버십 수정 -->
	<update id="updateMembership" parameterType="membershipVO">
		UPDATE
			membership
		SET
			membership_grade=#{membership_grade},
			membership_benefits=#{membership_benefits},
			price=#{price},
			<if test="photo_name != ''">
			photo=#{photo},
			photo_name=#{photo},
			</if>
			membership_detail=#{membership_detail}
		WHERE
			membership_id=#{membership_id}
	
	</update>
	
	<sql id="membershipSearch">
		<where>
			<if test="keyword != null and keyword != ''">
				<if test="keyfield == 1">
					membership_grade LIKE '%' || #{keyword} || '%'
				</if>
				<if test="keyfield == 2">
					price LIKE '%' || #{keyword} || '%'
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 전체/검색 레코드수 -->
	<select id="selectMembershipCount" parameterType="map" resultType="integer">
		SELECT
		  COUNT(*)
		FROM membership
		<include refid="membershipSearch"></include>                               
	</select>
	
	<!-- 전체/검색 목록 -->
	<select id="selectMembershipList" parameterType="map"
	                           resultType="membershipVO">
		SELECT
		  *
		FROM (SELECT
		        a.*,
		        rownum rnum
		      FROM (SELECT
		              *
		            FROM membership
		            <include refid="membershipSearch"></include>
		            ORDER BY price DESC NULLS LAST)a)  
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>                                     
	</select>
<!-- 관리자 끝 -->	

<!-- 사용자 시작-->
	<!-- 멤버십 목록 -->
	<select id="selectMembershipUserList" parameterType="map" resultType="membershipVO">
		SELECT *
		FROM (SELECT a.*, rownum rnum
			  FROM (SELECT *
			  		FROM membership)a)
	</select>
	
	<!-- 멤버십 선택(장바구니 대체) -->
	<select id="getMembershipById" resultType="kr.spring.membership.vo.MembershipVO">
        SELECT
            membership_id,
            membership_grade,
            membership_benefits,
            price,
            membership_detail
        FROM membership
        WHERE membership_id = #{membershipId}
    </select>
	
	
	
</mapper>
























